{% load static %}

{% if selected_center == "cosmetic" %}
<h3>COSMETIC CENTRE</h3>
<div class="container-fluid">
    <p>
        The Radiant Cosmetic Care Centre at Lanka Hospitals helps improve the
        aesthetic balance of the face and contour of the body creating a more youthful
        appearance and improved symmetry. We deliver safe and leading-edge cosmetic
        surgical and non-invasive procedures upholding core values of flawless
        attention to detail, and a passion for patient care themed around bringing the
        innate beauty that lies within every single person.
    </p>
    <p>
        Through our well trained dedicated nursing team and highly professional
        doctors and the senior most Consultants in the Island we aim at fulfilling our
        mission. Our unit stands out from other healthcare organizations as it is a
        world renowned institution with THE BEST international standards with
        diversification into different aspects of Cosmetic and Reconstructive
        Surgeries.
    </p>
    <p>
        People from across the world visit and value our Cosmetic Clinic, where we
        make every attempt to transform lives through a range of cosmetic treatments
        that are performed by consultants who specialize in each of the areas we
        cover. Our panel of surgeons, the best in S.E. Asia, performs surgical and
        non-surgical treatments using world class techniques.
    </p>
</div>
<div class="container-fluid">
    <div class="col-md-8 ">
        <img src="{% static 'images/COSMETIC_CENTRE_2.png' %}" alt="" srcset="" class="shadow">
    </div>
    <div class="col-md-4 mt-4">
        <div class="card shadow">
            <div class="card-body p-4" style="background-color: rgba(41, 127, 185, 0.151);">
                <h5 style="font-weight: bold;">Location</h5>
                <p style="color: rgba(16, 51, 75, 0.678);">6th floor, Wing A</p>
                <h5 style="font-weight: bold;">Working Hours</h5>
                <p style="color: rgba(16, 51, 75, 0.678);">Monday to Friday (From 9am to 5pm)<br>Saturdays (From 9am to
                    2pm)</p>
                <h5 style="font-weight: bold;">Phone Inquiries</h5>
                <p style="color: rgba(16, 51, 75, 0.678);">Ishani Jayasinghe<br>Hotline: 011 714 5145<br>Mobile: 076 702
                    4750</p>
                <h5 style="font-weight: bold;">Email Inquiries</h5>
                <p style="color: rgba(16, 51, 75, 0.678);">surgicalcoordinator@lankahospitals.com</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="text-align: left; padding-right: 0; padding-left: 3; background-color:rgba(41, 127, 185, 0.425); border:0; color:black">
            Dropdown
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Option 1</a></li>
            <li><a class="dropdown-item" href="#">Option 2</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Option 3</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="text-align: left; padding-right: 0; padding-left: 3; background-color:rgba(41, 127, 185, 0.425); border:0; color:black">
            Dropdown
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Option 1</a></li>
            <li><a class="dropdown-item" href="#">Option 2</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Option 3</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="text-align: left; padding-right: 0; padding-left: 3; background-color:rgba(41, 127, 185, 0.425); border:0; color:black">
            Dropdown
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Option 1</a></li>
            <li><a class="dropdown-item" href="#">Option 2</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Option 3</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false"
            style="text-align: left; padding-right: 0; padding-left: 3; background-color:rgba(41, 127, 185, 0.425); border:0; color:black">
            Dropdown
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Option 1</a></li>
            <li><a class="dropdown-item" href="#">Option 2</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Option 3</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="btn shadow w-100" style="background-color: rgba(60, 192, 224, 0.295); font-size:2rem; ">
Call us regarding any inquiry +94 (0) 11 553 0000
    </div>
</div>

{% elif selected_center == "BC_CENTRE" %}
<h3>BLOOD CANCER CENTRE</h3>
<p>This is the content for the Blood Cancer Centre.</p>

{% elif selected_center == "GASTROENTEROLOGY" %}
<h3>GASTROENTEROLOGYE</h3>
<p>This is the content for the GASTROENTEROLOGY.</p>

{% elif selected_center == "HEALTH_CHECK" %}
<h3>HEALTH_CHECK</h3>
<p>This is the content for the HEALTH_CHECK.</p>

{% elif selected_center == "KIDNE_CARE_C" %}
<h3>KIDNE_CARE_C</h3>
<p>This is the content for the KIDNE_CARE_C.</p>

{% elif selected_center == "FERTILITY_CENTRE" %}
<h3>FERTILITY_CENTRE</h3>
<p>This is the content for the FERTILITY_CENTRE.</p>

{% elif selected_center == "HEART_CENTRE" %}
<h3>HEART_CENTRE</h3>
<p>This is the content for the HEART_CENTRE.</p>

{% elif selected_center == "W_WELLNESS" %}
<p>This is the content for the W_WELLNESS.</p>
<h3>W_WELLNESS</h3>

{% elif selected_center == "UROLOGY_CARE_C" %}
<h3>UROLOGY_CARE_C</h3>
<p>This is the content for the UROLOGY_CARE_C.</p>

{% elif selected_center == "MENS_WELLNESS_C" %}
<h3>MENS_WELLNESS_C</h3>
<p>This is the content for the MENS_WELLNESS_C.</p>

{% endif %}

<!-- Bootstrap 5.1.3 CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css