
{% if selected_center == "cosmetic" %}
    <h3>COSMETIC CENTRE</h3>
    <p>This is the content for the Cosmetic Centre.</p>

{% elif selected_center == "BC_CENTRE" %}
    <h3>BLOOD CANCER CENTRE</h3>
    <p>This is the content for the Blood Cancer Centre.</p>

{% elif selected_center == "GASTROENTEROLOGY" %}
    <h3>GASTROENTEROLOGYE</h3>
    <p>This is the content for the GASTROENTEROLOGY.</p>

{% elif selected_center == "HEALTH_CHECK" %}
    <h3>HEALTH_CHECK</h3>
    <p>This is the content for the HEALTH_CHECK.</p>

{% elif selected_center == "KIDNE_CARE_C" %}
    <h3>KIDNE_CARE_C</h3>
    <p>This is the content for the KIDNE_CARE_C.</p>

{% elif selected_center == "FERTILITY_CENTRE" %}
    <h3>FERTILITY_CENTRE</h3>
    <p>This is the content for the FERTILITY_CENTRE.</p>

{% elif selected_center == "HEART_CENTRE" %}
    <h3>HEART_CENTRE</h3>
    <p>This is the content for the HEART_CENTRE.</p>

{% elif selected_center == "W_WELLNESS" %}
    <p>This is the content for the W_WELLNESS.</p>
    <h3>W_WELLNESS</h3>

{% elif selected_center == "UROLOGY_CARE_C" %}
    <h3>UROLOGY_CARE_C</h3>
    <p>This is the content for the UROLOGY_CARE_C.</p>

{% elif selected_center == "MENS_WELLNESS_C" %}
    <h3>MENS_WELLNESS_C</h3>
    <p>This is the content for the MENS_WELLNESS_C.</p>

{% endif %}

